@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?w0smsg');
  src:  url('icomoon.eot?w0smsg#iefix') format('embedded-opentype'),
    url('icomoon.ttf?w0smsg') format('truetype'),
    url('icomoon.woff?w0smsg') format('woff'),
    url('icomoon.svg?w0smsg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {

  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}



body{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #FFFFFF;
  margin: 0px;
  zoom: 90%;
}



.cajita {
  background-color: #F8F8F8;
  margin: 0 15%;
  padding-top: 10%;
  padding-bottom: 1%;
}

h1,
h2,
h3{
  font-family: 'Roboto Mono';
  font-weight: 500;
}

h2 {
  font-weight:bold;
  margin: 10px;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 30px;
  color: #3A518D;
}

h3 {
  font-weight: 700;
  font-size: 30px;
}

small {
  font-weight: 50;
  font-style: italic;
}

h1{
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: 0px;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: inherit;
}

/* header */

.header li {
  align-items: center;
  height: inherit;
  flex-wrap: wrap;
}

.burger_buttom {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  left: 5px;
  top: 12px;
  color: #F1F1F1;
  background-color: rgb(0, 0, 0, 0.2);
}

.header {
  background-color: #3A518D;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 110vw;
  position: fixed;
  z-index: 2;
}

.header nav {
  height: inherit;
  align-items: center;
}

.header a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto Mono';
  font-weight: 300;
  display: flex;
  align-items: inherit;
  height: inherit;
  padding: 0px 20px;
}

.header figure {
  margin: 0;
  display: flex;
  margin-right: 20%;
}
.header figure img {
  margin-bottom: 5%;
  padding-top: 5%;
  margin-left: 5%;

}

/* Hero */

.Hero {
  background-image: url("./Encabezado.jpg");
  background-color: #3A518D;
  background-size: 40% 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  margin-top: 0px;
  display: flex;
}

.Hero h1{
  margin-top: inherit;
  margin-right: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 90% 90%;
  color: #DCDCDC;
  font-weight: 600;
  align-items: center;
}

.Hero h1 strong {
  color: white;
}

.Historia {
  display:flex;
  flex-wrap: wrap;
  margin: 20px 40px;
  background-color: #ECECEC;
}

.Historia article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
}

.Acompañante_Historia {
  margin: 5%;
  width: 95%;
  height: 95%;
}

.Acompañante_Imagen {
  border-radius: 20px;
  width: inherit;
  height: inherit;
}

.article_paragraph_1 {
  padding-left: 40px;
}

/* Eventos */

.Eventos {
  background-color: #F9F9F9;
  padding: 40px 40px;
  display: flex;
  justify-content: center;
}

.Cajota {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  width: 500px;
  margin: 5px 40px;
  background-color: #ECECEC;
  z-index: 1;

}


.article_paragraph_2 {
  margin: 10% 20%;
  background-color: #F7F7F7;
  margin: : 40px;
  margin-top: -80px;
  position: relative;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
}

.Acompañantes_Eventos {
  margin: 0px;
  width: 100%;
  height: 100%;
}

.Terminantes {
  font-style: normal;
  font-size: 15px
}

/* Contactos */

.Contactitos {
  margin: 30px 30px;
  padding: 25px;
  padding-top: 20px;
  padding-left: 15px;
  background-color: #ECECEC;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  flex-wrap: wrap;
}


.container_redes {
  display: flex;
  margin-right: 70px;
  padding-top: 20px
}

.Redes {
  margin: 0px 10px
}

form {
  margin-left: 35px;
}

/* Footer */

footer {
  border-top: 1px solid grey;
  padding: 20px;
  background-color: #3A518D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: white;
  font-weight: bold;
}

.Social {
  margin: 0px 6px;
}



/* MediaQueries */



@media screen and (max-width: 1024px){

  body {
    zoom: 90%;
  }

  h3 {
    font-size: 20px;
  }

  .Hero {
    background-size: 100%;
    background-attachment: fixed;
  }

  .Historia article {
    display: block;
  }

  .Eventos {
    display: block;
  }

  .Cajota {
    width: auto;
    margin: 10%;
    margin-top: 5%;
  }

}

@media screen and (max-width: 767px) {

  .burger_buttom {
    display: block;
    z-index: 4;
  }

  .header {
    width: 115vw;
  }

  .menu.is-active {
    left:0;
  }
  .menu {
    position: fixed;
    background: rgb(58, 81, 141, 0.98);
    top:0;
    left: -115vw;
    bottom: 0;
    width: inherit;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }


  .menu ul {
    width: inherit;
    height: auto;
  }

}

@media screen and (max-width: 768px) {

  .cajita {
    padding-top: 2%;
    margin: 0 5%;
  }

  p {
    font-size: 15px;
  }

  h2 {
    margin-left: 25px
  }

  .header {
    display: block;
    height: auto;
    position: static;
  }

  .header figure {
    margin: 0;
    display: block;
    text-align: center;
  }

  .header a {
    font-size: 30px;
    justify-content: center;
    padding: 0;
    margin-right: 0;
    margin: 1% 0;
  }
  .header figure img {
    width: 170px;
    text-align: center;
    margin: 0;
    padding: 15px 0;
  }

  .header ul {
    display: initial;
  }

  .header ul li {
    height: 40px;
  }


  .Hero {
    height: auto;
  }

  h1 {
    font-size: 40px;
  }

  .Historia {
  margin: 5%;
  }


  .Contactitos {
    margin: 5%;
    padding: 5%;
    height: auto;
  }
}


@media screen and (max-width: 480px){

  .header {
    width: 80vw;
  }

  .header a {
    margin-right: 0;
  }

  body {
    zoom: 125%
  }

  .cajita {
    margin: 0 5%;
  }

  .header ul li {
    height: 25px;
  }

  .header a{
    font-size: 15px;
  }

  .header figure img {
    padding: 2%;
  }

  h1 {
    font-size: 20px;
  }

  .Hero {
    background-attachment: local;
    background-size: 100%;
  }

  h2 {
    font-size: 20px;
    margin-top: 15px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  .Terminantes {
    font-size: 10px;
  }

  .Eventos {
    padding: 8px;
  }

  .article_paragraph_1 {
    padding-left: 5px;
  }

  .titulos_secundarios {
    font-size: 18px;
  }

  .article_paragraph_3 {
    font-size: 10px;
  }

  form {
    margin-left: 0;
  }

  .container_redes {
    margin-left: 0;
  }

  .Redes {
    width: 40px;
    height: 40px;
  }

  Footer {
    padding: 10px;
    width: 80vw;
  }

  .Social {
    margin: 4px;
    width: 25px;
    height: 25px;
  }

  .Footer p {
    10px
  }
}

@media screen and (max-width: 320px){
  .cajita {
    margin: 0;
  }
}
